// Colors

$white: #ffffff;
$black: #000000;

$promo-b-color: #527ca5;

$greece-card-b-color: #7195b8;
$albania-card-b-color: #2587a6;
$macedonia-card-b-color: #d8922a;
$montenegro-card-b-color: #1bc774;
$croatia-card-b-color: #c8a013;

$feedback-form-section-b: #d15b5b;
$feedback-form-section-b-extra: #fbf8f8;

$base-text-color: #141517;
$extra-text-color: #2c2e3f;

$base-accent-color: #fe7865;
$hover-accent-color: #f17d4b;

$form-shadow-color: #293642;

$light-grey: #d7d9df;
$extra-light-grey: #c4c4c4;
$extra-black: #48494d;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1920px;
